html, body, #root, .App, .home-container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home-container {
  position: relative; /* Pour que les absolus dans WaterWaveEffect se réfèrent à ce conteneur */
  width: 100%;
  height: 100vh; /* pleine hauteur visible  pour accepter l'enfant (rappel : img animée) */
}
