.menu-icon {
  pointer-events: auto; 
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1001; 
}

.line-container {
  position: fixed;
  right: 0%;
  top: 0;
  height: 100vh;
  width: 100px;
  transform: translateX(-20%);
  pointer-events: auto;
  z-index: 1000;
  background-color: #0088cc;
}
.line-container.dark {
  background-color: #0088cc;
  color: white;
}

.line {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    #d0f0ff,
    #d0f0ff 5px,
    #0088cc 5px,
    #0088cc 10px
  );
  transform: translateX(-50%);
}

.line-item {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  pointer-events: auto;
  z-index: 1100;
}

.label {
  background: rgba(0, 0, 0, 0.6);
  padding: 2px;
  border-radius: 10px;
  font-size: 13px;
  white-space: nowrap;
  transition: background 0.3s ease;
  margin-top: 5px;
  margin-left: 10px;
}

.line-item:hover .label {
  background: rgba(7, 84, 173, 0.8);
}

.hook-img{
  margin-left: 10px;
  position: relative;  /* crée un contexte local */
  z-index: 1200;
}


@media screen and (max-width: 768px) {
  .line-container {
    width: 90px; 
    transform: translateX(10); 
  }

  .menu-icon {
    top: 10px;
    left: 10px;
  }

  /* .line-item {
  } */

  .hook-img {
    width: 40px; 
    height: auto;
    margin-left: 10;
  }

  .label {
    font-size: 11px;
    padding: 1px 4px;
    margin-left: 5px;
    margin-top: 3px;
  }
}
