.ThemeTOggleBody {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 250px;
}


img{
    width: 60px;
    height: auto;
}

button{
    background-color: #0088cc;
    border: none;
}



