.categoryGrid {
  display: grid;
  gap: 30px;
  max-width: 90%;
  margin: 0 auto;
  width: 100%;
  padding: 5rem;
  box-sizing: border-box;

  /* Par défaut : 1 colonne (mobile) */
  grid-template-columns: 1fr;
}

/* Moyens écrans : 2 colonnes */
@media (min-width: 640px) {
  .categoryGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Grands écrans : 3 colonnes */
@media (min-width: 1277px) {
  .categoryGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid-item {
  background-color: #f3f3f3;
  border-radius: 8px;
  border: 1px solid grey;
  overflow: hidden;
  transition: transform 0.2s ease;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
}

.grid-item:hover {
  transform: scale(1.03);
}

.image-category-grid {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-category-grid img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}

.title-category-grid {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

.title-category-grid h3 {
  margin: 0;
  font-size: 20px;
  text-align: center;
}
