.categoryGrid {
  display: grid;
  gap: 30px;
  max-width: 1000px; 
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;

  /* Par défaut : 1 colonne (mobile) */
  grid-template-columns: 1fr;
}

/* Moyens écrans : 2 colonnes */
@media (min-width: 640px) {
  .categoryGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Grands écrans : 3 colonnes */
@media (min-width: 1024px) {
  .categoryGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid-item {
  background-color: #f3f3f3;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s ease;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.grid-item:hover {
  transform: scale(1.03);
}

.grid-item img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  display: block;
}

.grid-item h3 {
  margin: 10px 0;
  font-size: 16px;
}
